.icon-card {
  figure {
    width: 7rem;
    height: 7rem;
    display: grid;
    place-items: center;
  }

  img {
    width: 3.5rem;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }

  @media (max-width: 992px) {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
